{% extends "portfolio/base.html" %}
{% load static portfolio_tags wagtailcore_tags menu_tags %}

{% block content %}
<div class="section-projects portfolio">
    <div class="container">
        <div class="portfolio-menu">
            <div class="title-section">Portfolio</div>
            {% flat_menu 'portfolio_menu' max_levels=1 template="menus/portfolio_menu.html"%}
        </div>
    </div>
    <div class="portfolio-list">
        {% for project in page.projects %}
            {% if pagination.item_from <= forloop.counter0 and forloop.counter0 < pagination.item_to %}
                {% include_block project %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="container">
        {% if pagination.pages_total > 1 %}
            <div class="portfolio-navigation">
                <div></div>
                {% if pagination.current_page < pagination.pages_total %}
                    <div class="btn btn-main" href="#">
                        load more
                        <span class="btn-main__lines1"></span>
                        <span class="btn-main__lines2"></span>
                    </div>
                {% endif %}
                
                <ul>
                    {% for page_num in pagination.pages_total_range %}
                        <li class="{% if pagination.current_page == forloop.counter %} active {% endif %}">
                            <a href="{% pageurl page %}?page={{forloop.counter}}&size={{pagination.page_size}}">{{forloop.counter}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var pageNumber = parseInt("{{ pagination.current_page }}");
    var pageSize = parseInt("{{ pagination.page_size }}");
    var pageId = parseInt("{{ page.id }}");
</script>
<script src="{% static 'js/portfolio.js' %}"></script>
{% endblock %}
