{% extends "portfolio/base.html" %}
{% load static portfolio_tags wagtailcore_tags %}

{% block content %}
<div class="section-projects portfolio">
    <div class="container">
        <div class="portfolio-menu">
            <div class="title-section">Portfolio</div>
            <div class="portfolio-menu">
                {% get_portfolio_pages as portfolio_pages %}
                {% for portfolio_page in portfolio_pages %}
                    <div class="menu-item {%if portfolio_page.id == page.id %} active {% endif %}">
                        <a href="{% pageurl portfolio_page %}">{{portfolio_page.title}}</a>
                    </div>
                {% endfor %}
                {% comment %} <div class="menu-item active"><a href="#">games</a> </div>
                <div class="menu-item"><a href="#">sketches</a></div>
                <div class="menu-item"><a href="#">drawing</a></div>
                <div class="menu-item"><a href="#">animation</a></div> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="portfolio-list">
        {% for project in page.projects %}
            {{project}}
        {% endfor %}
        {% comment %}
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-1.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">wizard gold</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-2.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">phoenix rising</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src={% static 'img/project-3.png' %} alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">tropical paradise</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-4.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">mystic pearls</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-5.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">gypsy moon</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-1.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">wizard gold</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-2.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">phoenix rising</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-3.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">tropical paradise</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-4.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">mystic pearls</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-5.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">gypsy moon</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-1.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">wizard gold</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-2.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">phoenix rising</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-3.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">tropical paradise</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-4.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">mystic pearls</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-5.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">gypsy moon</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-1.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">wizard gold</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-2.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">phoenix rising</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-3.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">tropical paradise</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-4.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">mystic pearls</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-5.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">gypsy moon</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
            </div>
        </div> {% endcomment %}
    </div>

    <div class="container">
        <div class="portfolio-navigation">
            <a class="btn btn-main" href="#">load more<span class="btn-main__lines1"></span><span
                    class="btn-main__lines2"></span></a>
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
