{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<!-- Здесь можно разместить стили для главной старницы -->

{% endblock extra_css %}

{% block content %}
<div class="main">
    <div class="container">
        <div class="main__inner">
            <div class="main__title">Art <span class="color-green">and Graphics</span><span class="main__title__spec">
                    Development</span></div>
            <div class="main__text">DFX Art develops art and graphics for PC, console, mobile games, slot machines &
                iGaming, starting with the development of graphic concepts and ending with the finished product. With
                more than 15 years of work in the field, our experience is unrivalled.</div>
            <div class="main__scroll">Scroll
                <div class="main__scroll__elem"></div>
            </div>
        </div>
    </div>
    <div class="main__back">
        <video class="" loop autoplay src="{% static 'video/Dragon12v.mp4' %}" muted id="main_video_bg">

        </video>
        <div class="main__bg-img"><img src="{% static 'img/bg-main.jpg' %}" alt=""></div>
        <div class="main__bg-text"><img src="{% static 'img/text-bg.png' %}" alt=""></div>
        <div class="main__bg-grid"><img src="{% static 'img/grid-bg.png' %}" alt=""></div>
        <div class="main__bg-shadow"></div>
        <div class="main__bg-shadow2"></div>
    </div>
</div>
<div class="container section-informers">
    <div class="informers-row">
        <div class="informer-item">
            <div class="informer-item__icon"><img src="{% static 'img/buildings.png' %}" alt=""></div>
            <div class="informer-item__text">HQ: Estonia, Narva.</div>
        </div>
        <div class="informer-item">
            <div class="informer-item__icon"><img src="{% static 'img/group.png' %}" alt=""></div>
            <div class="informer-item__text">SEVERAL DIFFERENT PROFESSIONAL TEAMS, WITH A TOTAL OF MORE THAN 150 PEOPLE
                WORK UNDER OUR MANAGEMENT.</div>
        </div>
        <div class="informer-item">
            <div class="informer-item__icon"><img src="{% static 'img/laptop.png' %}" alt=""></div>
            <div class="informer-item__text">Over 520 slots designed for the Top 5 companies.</div>
        </div>
        <div class="informer-item">
            <div class="informer-item__icon"><img src="{% static 'img/casino.png' %}" alt=""></div>
            <div class="informer-item__text">Over 15 years of game development.</div>
        </div>
        <div class="informer-item">
            <div class="informer-item__icon"><img src="{% static 'img/Winner.png' %}" alt=""></div>
            <div class="informer-item__text">We’re the best! With us, you’re always a winner!</div>
        </div>
    </div>
</div>
<div class="about-item about-item_spec" id="section-experience">
    <div class="about-item__main">
        <div class="container">
            <div class="about-item__block">
                <div class="about-item__block__inner js-section-text">
                    <div class="title-section">Huge <span>Experience</span></div>
                    <p>As of today, our experience in the field of gambling game production is unrivalled, our potential
                        undeniable.
                        This applies to both land based slot machines as well as online casino games (iGaming).
                        The experience and knowhow gathered over the years and in the course of many projects allow us
                        to meet high-quality requirements and solve tasks of any difficulty - even
                        if it requires learning “on the fly”. </p>
                    <span class="readmore">Read more...</span>
                    <p class="hide hide-768">We have developed a very flexible way of working with our clients. For
                        each, we provide a customised team, depending on their needs and preferences. </p>
                    <p class="hide hide-768">The system we have introduced in our company in order to quickly recruit
                        skilled professionals has proven itself incredibly effective, enabling us to increase our
                        production capacity within a very short time if needed in order to meet all requirements.
                        Because of that, our productive capacities are located where the greatest potential of
                        first-class specialists lies - both artists and programmers.</p>
                    <div class="visible-768"><a class="link-def js-more">Read More</a></div>
                    <span class="showless">Show less</span>
                </div>
                <div class="bg-elem"></div>
            </div>
        </div>
    </div>
    <div class="video-bg">
        <video class="" width="100%" height="auto" preload="auto" loop="loop"
            src="{% static 'video/SlotMachineAnimationGreen.mp4' %}" autoplay muted data-object-fit="cover">

        </video>
    </div>
    <div class="img-bg">
        <div class="img-bg__col"></div>
        <div class="img-bg__col img-bg__col_main"><img src="{% static 'img/slotm.jpg' %}" alt=""></div>
    </div>
</div>
<div class="section-incredible" id="section-incredible">
    <div class="section-incredible__top">
        <div class="container">
            <div class="title-section">Incredible <span>COMPUTER GRAPHICS</span></div>
        </div>
    </div>
    <div class="about-items-wrapper hide-992">
        <div class="about-item about-item_mod-size">
            <div class="about-item__main">
                <div class="container">
                    <div class="about-item__block about-item__block_align-right">
                        <div class="about-item__block__inner">
                            <div class="about-item__block__top">
                                <div class="about-item__title1" id="section2d">2D <span>Graphics</span></div>
                                <div class="about-item__title2">Concepts <span>&amp;</span> Layout Design / Sketches
                                    <span>&amp;</span> Drawing</div>
                            </div>
                            <p>At the heart of everything lies the "idea": A great idea, that’s what distinguishes an
                                outstanding product from mediocrity. What the project will look like upon completion
                                depends on the very first ideas and drafts.</p>
                            <span class="readmore">Read more...</span>
                            <p>High professionalism in everything we do – that’s the key to the success of any project.
                                One can see it in the way we are able to understand the customer’s wishes, in the
                                knowledge of current trends and the understanding of the market's demand, and in the
                                creation of the first sketches that come to be complex materials and textures in high
                                resolution (up to 4K) later on.</p>
                            <p>Our professional artists, who have more than 10-15 years’ experience, have thoroughly
                                studied the market and are constantly monitoring its development. We have no style
                                restrictions. The choice of style depends solely on the wishes and preferences of our
                                partners. We quickly and easily master new styles and trends, always staying at the top
                                of the trend.</p>
                            <p>As we are always ready to share our rich experience, we never hesitate to take the
                                initiative and introduce our own ideas to the client while at the same time doing
                                everything to meet his wishes.</p>
                            <span class="showless">Show less</span>
                        </div>
                        <div class="bg-elem2"></div>
                    </div>
                </div>
            </div>
            <div class="img-bg">
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-2-1.jpg' %}" alt=""></div>
                <div class="img-bg__col"></div>
            </div>
        </div>
        <div class="about-item about-item_mod-size">
            <div class="about-item__main">
                <div class="container">
                    <div class="about-item__block">
                        <div class="about-item__block__inner">
                            <div class="about-item__block__top">
                                <div class="about-item__title1" id="section2d3d">2D/3D <span>Animation</span></div>
                            </div>
                            <p>The development of an interesting concept and the design of gorgeous graphics is very
                                important for the creation of a successful game,
                                but those aren’t the only crucial factors. One always enjoys looking at a pretty
                                picture, but it is the animation that brings it to life,
                                making it interesting and – quite literally – moving.
                                Through perfectly coordinated animations of various elements, we bring the graphics
                                closer to reality and thereby to
                                the viewer. Just looking at the game becomes an exciting experience, all thanks to our
                                original animation design. It is indeed a
                                moving experience.</p>
                            <span class="readmore">Read more...</span>
                            <p>Our 2D- and 3D-animation specialists have accumulated years of experience. They know
                                exactly how to reflect light, how to turn objects or to move people in order to make
                                them look more interesting and realistic. Starting with the animations of the simplest
                                objects and "special effects" and through to complicated and realistic person animations
                                – we can produce everything in high quality. Even if it’s just lightning striking in the
                                background – we take every little task seriously and approach it with a high level of
                                professionalism!</p>
                            <p>We have mastered a wide variety of development environments that we use to create our
                                animations. The following ones are in demand amongst our partners: Maya, 3ds max,
                                Fusion, Adobe After Effects, Spine and of course UNITY. As always, we are ready to
                                accept new challenges and can quickly acquire a new "package" if necessary while
                                animating.</p>
                            <span class="showless">Show less</span>
                        </div>
                        <div class="bg-elem2"></div>
                    </div>
                </div>
            </div>
            <div class="img-bg">
                <div class="img-bg__col"></div>
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-3-2a.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="about-item about-item_mod-size">
            <div class="about-item__main">
                <div class="container">
                    <div class="about-item__block about-item__block_align-right">
                        <div class="about-item__block__inner">
                            <div class="about-item__block__top">
                                <div class="about-item__title1" id="section3d">3D <span>Graphics</span></div>
                                <div class="about-item__title2"> 3D modeling <span>&amp;</span> Texturing/ Skining
                                    <span>&amp;</span> Rigging</div>
                            </div>
                            <p>A high-quality 3D model that meets all of the customer’s wishes and the technical
                                requirements and characteristics – that’s
                                the base that interesting animations, spectacular transitions and video clips are built
                                on.</p>
                            <p>We have mastered the production of three-dimensional models in all of the most popular
                                programs - max, maya, blender, zBrush,
                                3d coat. And, as our experience shows, we can easily master any new packages if
                                necessary.</p>
                            <span class="readmore">Read more...</span>
                            <p>It’s not without reason that our slogan is “all can be created”. We really can create
                                anything and everything and know no restrictions – neither in terms of the style nor the
                                forms or types of 3D-models. Starting with simple objects through to complex characters,
                                from high-field models for the production of video clips and to economical low-field
                                models that can be used in online environments and on hardware with lower performance
                                characteristics – we will always create exactly what you need!</p>
                            <p>An important stage of working with 3D models, but unfortunately one which is practically
                                invisible to the viewer, is the preparation of those models for their animation –
                                skinning, rigging. Alas, it always remains “behind the scenes”, even though the quality
                                of the character animation relies directly on their quality. It goes without saying that
                                this work is done in accordance to the highest standards.</p>
                            <span class="showless">Show less</span>
                        </div>
                        <div class="bg-elem2"></div>
                    </div>
                </div>
            </div>
            <div class="img-bg">
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-4-1.jpg' %}" alt=""></div>
                <div class="img-bg__col"></div>
            </div>
        </div>
        <div class="about-item about-item_mod-size">
            <div class="about-item__main">
                <div class="container">
                    <div class="about-item__block">
                        <div class="about-item__block__inner">
                            <div class="about-item__block__top">
                                <div class="about-item__title1" id="sectionFX">Unity <span>FX</span></div>
                                <div class="about-item__title2">Concepts <span>&amp;</span> Layout Design / Sketches
                                    <span>&amp;</span> Drawing</div>
                            </div>
                            <p>As already mentioned in the section about 3D-modelling, working directly in the UNITY
                                engine is one of many skills we have perfected. Starting with the creation of simple
                                objects right through to complex scenes, animations and gorgeous visual effects – our
                                specialists are unsurpassed masters in this field. This is known and appreciated by our
                                partners who are increasingly resorting to developments in this particular engine,
                                including IGT – one of the leading companies in the industry. For them, we develop most
                                of our projects in this particular environment.</p>
                        </div>
                        <div class="bg-elem2"></div>
                    </div>
                </div>
            </div>
            <div class="img-bg">
                <div class="img-bg__col"></div>
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-3-2.jpg' %}" alt=""></div>
            </div>
        </div>
    </div>
    <div class="about-slider">
        <div class="js-about-items css-about-items owl-carousel">
            <div class="about-item about-item_mod-size">
                <div class="about-item__main">
                    <div class="container">
                        <div class="about-item__block about-item__block_align-right">
                            <div class="about-item__block__inner">
                                <div class="about-item__block__top">
                                    <div class="about-item__title1">2D <span>Graphics</span></div>
                                    <div class="about-item__title2">Concepts <span>&amp;</span> Layout Design / Sketches
                                        <span>&amp;</span> Drawing</div>
                                </div>
                                <p>At the heart of everything lies the "idea": A great idea, that’s what distinguishes
                                    an outstanding product from mediocrity. What the project will look like upon
                                    completion depends on the very first ideas and drafts.</p>
                                <p>High professionalism in everything we do – that’s the key to the success of any
                                    project. One can see it in the way we are able to understand the customer’s wishes,
                                    in the knowledge of current trends and the understanding of the market's demand, and
                                    in the creation of the first sketches that come to be complex materials and textures
                                    in high resolution (up to 4K) later on.</p>
                                <p>Our professional artists, who have more than 10-15 years’ experience, have thoroughly
                                    studied the market and are constantly monitoring its development. We have no style
                                    restrictions. The choice of style depends solely on the wishes and preferences of
                                    our partners. We quickly and easily master new styles and trends, always staying at
                                    the top of the trend.</p>
                                <p>As we are always ready to share our rich experience, we never hesitate to take the
                                    initiative and introduce our own ideas to the client while at the same time doing
                                    everything to meet his wishes.</p>
                            </div>
                            <div class="bg-elem2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-item about-item_mod-size">
                <div class="about-item__main">
                    <div class="container">
                        <div class="about-item__block anim2d3d">
                            <div class="about-item__block__inner">
                                <div class="about-item__block__top">
                                    <div class="about-item__title1">2D/3D <span>Animation</span></div>
                                </div>
                                <p>The development of an interesting concept and the design of gorgeous graphics is very
                                    important for the creation of a successful game, but those aren’t the only crucial
                                    factors. One always enjoys looking at a pretty picture, but it is the animation that
                                    brings it to life, making it interesting and – quite literally – moving. Through
                                    perfectly coordinated animations of various elements, we bring the graphics closer
                                    to reality and thereby to the viewer. Just looking at the game becomes an exciting
                                    experience, all thanks to our original animation design. It is indeed a moving
                                    experience.</p>
                                <p>Our 2D- and 3D-animation specialists have accumulated years of experience. They know
                                    exactly how to reflect light, how to turn objects or to move people in order to make
                                    them look more interesting and realistic. Starting with the animations of the
                                    simplest objects and "special effects" and through to complicated and realistic
                                    person animations – we can produce everything in high quality. Even if it’s just
                                    lightning striking in the background – we take every little task seriously and
                                    approach it with a high level of professionalism!</p>
                                <p>We have mastered a wide variety of development environments that we use to create our
                                    animations. The following ones are in demand amongst our partners: Maya, 3ds max,
                                    Fusion, Adobe After Effects, Spine and of course UNITY. As always, we are ready to
                                    accept new challenges and can quickly acquire a new "package" if necessary while
                                    animating.</p>
                            </div>
                            <div class="bg-elem2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-item about-item_mod-size">
                <div class="about-item__main">
                    <div class="container">
                        <div class="about-item__block about-item__block_align-right">
                            <div class="about-item__block__inner">
                                <div class="about-item__block__top">
                                    <div class="about-item__title1">3D <span>Graphics</span></div>
                                    <div class="about-item__title2"> 3D modeling <span>&amp;</span> Texturing/ Skining
                                        <span>&amp;</span> Rigging</div>
                                </div>
                                <p>A high-quality 3D model that meets all of the customer’s wishes and the technical
                                    requirements and characteristics – that’s the base that interesting animations,
                                    spectacular transitions and video clips are built on.</p>
                                <p>We have mastered the production of three-dimensional models in all of the most
                                    popular programs - max, maya, blender, zBrush, 3d coat. And, as our experience
                                    shows, we can easily master any new packages if necessary.</p>
                                <p>It’s not without reason that our slogan is “all can be created”. We really can create
                                    anything and everything and know no restrictions – neither in terms of the style nor
                                    the forms or types of 3D-models. Starting with simple objects through to complex
                                    characters, from high-field models for the production of video clips and to
                                    economical low-field models that can be used in online environments and on hardware
                                    with lower performance characteristics – we will always create exactly what you
                                    need!</p>
                                <p>An important stage of working with 3D models, but unfortunately one which is
                                    practically invisible to the viewer, is the preparation of those models for their
                                    animation – skinning, rigging. Alas, it always remains “behind the scenes”, even
                                    though the quality of the character animation relies directly on their quality. It
                                    goes without saying that this work is done in accordance to the highest standards.
                                </p>
                            </div>
                            <div class="bg-elem2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-item about-item_mod-size">
                <div class="about-item__main">
                    <div class="container">
                        <div class="about-item__block">
                            <div class="about-item__block__inner">
                                <div class="about-item__block__top">
                                    <div class="about-item__title1">Unity <span>FX</span></div>
                                    <div class="about-item__title2">Concepts <span>&amp;</span> Layout Design / Sketches
                                        <span>&amp;</span> Drawing</div>
                                </div>
                                <p>As already mentioned in the section about 3D-modelling, working directly in the UNITY
                                    engine is one of many skills we have perfected. Starting with the creation of simple
                                    objects right through to complex scenes, animations and gorgeous visual effects –
                                    our specialists are unsurpassed masters in this field. This is known and appreciated
                                    by our partners who are increasingly resorting to developments in this particular
                                    engine, including IGT – one of the leading companies in the industry. For them, we
                                    develop most of our projects in this particular environment.</p>
                            </div>
                            <div class="bg-elem2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-about-bg css-about-bg owl-carousel">
            <div class="img-bg">
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-2-1.jpg' %}" alt=""></div>
                <div class="img-bg__col"></div>
            </div>
            <div class="img-bg">
                <div class="img-bg__col"></div>
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-3-5.jpg' %}" alt=""></div>
            </div>
            <div class="img-bg">
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-4-1.jpg' %}" alt=""></div>
                <div class="img-bg__col"></div>
            </div>
            <div class="img-bg">
                <div class="img-bg__col"></div>
                <div class="img-bg__col img-bg__col_img-main"><img src="{% static 'img/img-bg-3-2.jpg' %}" alt=""></div>
            </div>
        </div>
    </div>
</div>
<div class="section-projects">
    <div class="container">
        <div class="title-section">last <span>projects</span></div>
    </div>
    <div class="projects owl-carousel">

        <div class="projects__item">
            <div>
                <img src="{% static 'img/pirate-poster.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">coin mania</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
                <!-- <video class="b-lazy slider-video" id="video2" width="100%" height="100%" preload="auto" loop="loop" data-src="{% static 'video/CoinOManiaDemoVideo2v.mp4' %}" poster="img/pirate-poster.png" autoplay muted data-object-fit="cover">
                        
                    </video> -->
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/zodiack-poster.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">zodiack lion</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
                <!-- <video class="b-lazy slider-video" id="video3" width="100%" height="100%" preload="auto" loop="loop" data-src="{% static 'video/LionDemoVideo2v.mp4' %}" poster="img/zodiack-poster.png" autoplay muted data-object-fit="cover">
                        
                    </video> -->
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/project-3.jpg' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">sphinx link</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
                <!-- <video class="b-lazy slider-video" id="video1" width="100%" height="100%" preload="auto" loop="loop" data-src="{% static 'video/BeeWildDemoVideo1v.mp4' %}" poster="img/honey-poster.png" autoplay muted data-object-fit="cover">
                        
                    </video> -->
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/dragon-poster.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">dragon sphere</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
                <!-- <video class="b-lazy slider-video" id="video5" width="100%" height="100%" preload="auto" loop="loop" data-src="{% static 'video/DragonSphereDemoVideo1v.mp4' %}" poster="img/dragon-poster.png" autoplay muted data-object-fit="cover">
                        
                    </video> -->
            </div>
        </div>
        <div class="projects__item">
            <div>
                <img src="{% static 'img/romantic-poster.png' %}" alt="">
                <div class="project__item_detail">
                    <div class="project__item_title">italian journey</div>
                    <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                            class="btn-main__lines2"></span></a>
                </div>
                <!-- <video class="b-lazy slider-video" id="video4" width="100%" height="100%" preload="auto" loop="loop" data-src="{% static 'video/RomanceInItaly2v.mp4' %}" poster="img/romantic-poster.png" autoplay muted data-object-fit="cover">
                        
                    </video> -->
            </div>
        </div>
    </div>
    <a class="btn btn-main" href="#">all projects<span class="btn-main__lines1"></span><span
            class="btn-main__lines2"></span></a>
</div>
<div class="section-programming" id="section-programming">
    <div class="container">
        <div class="title-section">programming</div>
        <div class="text-wrapper">
            <p>At the request of the customer, DFX Art can develop the server and client software for iGaming. We are
                ready to take up both the creation of the whole game on a project basis as well as the partial writing
                of the code based on hourly calculations. To us, it doesn’t matter whether the final product is a mobile
                application, a web platform, a game for slot machines, or for a social casino.</p>
            <p>Our experts have mastered blockchain technology, enabling us to develop slot games using smart contracts.
            </p>
            <p>When developing the game as a whole, we guarantee that our result, starting with the graphic concept and
                through to the final product, will be amazing! Our graphics are incomparable, the code impeccable!</p>
        </div>
    </div>
    <div class="programming-blocks-wrapper owl-carousel">
        <div class="programming-block">
            <div class="container">
                <div class="programming-block__logo">
                    <div><img src="{% static 'img/logo-unity.png' %}" alt=""></div>
                </div>
                <div>
                    <p>Many of our partners make extensive use of the UNITY environment, be it as an engine for social
                        casinos, for iGaming, or even as a platform for slot machines.
                        We have therefore thoroughly studied this engine and use it not only to develop high-quality
                        special effects, but even as an alternative to standard HTML5 interfaces if necessary.
                        Moreover, we have established direct contact with UNITY developers and have a good relationship
                        with them, meaning that we can give detailed advice on any issues related to this
                        platform if needed. Starting with technical issues and through to the specific conditions that
                        need to be met to acquire gaming licenses.</p>
                </div>
            </div>
        </div>
        <div class="programming-block">
            <div class="container">
                <div class="programming-block__logo">
                    <div><img src="{% static 'img/logo-ios.png' %}" alt=""></div>
                </div>
                <div>
                    <p>Application development for iOS is a very important component of iGaming and social casinos. That
                        is why we pay close attention to it and are able to provide it at the highest possible level.
                        Our experienced programmers will easily carry out any development task, being able to use both
                        the main environment Swift and other cross-platform frameworks.</p>
                </div>
            </div>
        </div>
        <div class="programming-block">
            <div class="container">
                <div class="programming-block__logo">
                    <div><img src="{% static 'img/logo-android.png' %}" alt=""></div>
                </div>
                <div>
                    <p>Our regular partners made us realise that applications for Android are to be developed
                        simultaneously with applications for iOS, as it is an established standard by now. Given this
                        factor, we always strive to create the code in such a way that we don’t have to do the work
                        twice, thereby saving our customers money. We can use both – solutions on the basis of UNITY as
                        well as independent solutions on the basis of HTML5 technologies (React Native, PhoneGap). </p>
                </div>
            </div>
        </div>
        <div class="programming-block">
            <div class="container">
                <div class="programming-block__logo">
                    <div><img src="{% static 'img/logo-html5.png' %}" alt=""></div>
                </div>
                <div>
                    <p>Today, HTML5 is the most widespread technology and the undoubted standard for the development of
                        web applications and platforms. And it definitely is dominating the iGaming market.
                        To not have mastered HTML5 technology (Angular, js) today means to lag behind forever. But we
                        always remain at the forefront, in the very first ranks and this means that we have
                        mastered this technology as well as we have everything: at its highest level!
                        When ordering a game from us, our customers don’t need to worry about how to put graphics and
                        code together as we have an undeniable advantage: unrivalled experience in the
                        development of graphics for games. And this means that our partners receive a complete and
                        finished high-quality product from us!
                    </p>
                </div>
            </div>
        </div>
        <div class="programming-block">
            <div class="container">
                <div class="programming-block__logo">
                    <div><img src="{% static 'img/cloud.png' %}" alt=""></div>
                </div>
                <div>
                    <p>To keep up with the times in the field of server development, we use programming languages such
                        as C #, C ++, Python, PHP. We use MySQL, Postgree SQL, MongoDB databases that use redis but also
                        any others if necessary. In our arsenal you will find the most modern frameworks - Symfony,
                        Elasticsearch. We also work with high-load projects. The use of blockchain and smart contracts
                        is for us as easy as for most people driving a car but with the difference that the level of our
                        “driving” corresponds to the skills of the best Formula 1 drivers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container section-awards" id="section-awards">
    <div class="title-section">awards</div>
    <div class="block-info">
        <div class="block-info__img"><img src="{% static 'img/dragon-sphere.jpg' %}" alt="">
            <div class="block-info__badge"><img src="{% static 'img/badge-winner.png' %}" alt=""></div>
            <div class="block-info__num">01</div>
            <div class="block-info-bg-elem"></div>
        </div>
        <div class="block-info__main">
            <div class="desc-title">Best Slot Graphics</div>
            <p>The first place in the nomination for the best graphics of 2019 is awarded to the game made by DFX Art
                for IGT. Graphics and animation were in mixed 2D/3D techniques for Unity Engine.</p>
        </div>
    </div>
</div>
<div class="container section-founders" id="section-patents">
    <div class="title-section">Founders <span>patents</span></div>
    <div class="block-info block-info_patent">
        <div class="block-info__main">
            <div class="desc-title">Gaming system and method of use</div>
            <div class="patent-title">PATENT NO 8721425</div>
            <div class="patent-desc">A patent developed for a progressive jackpot, and describes the interaction of the
                jackpot system with users.</div>
            <div><a class="btn btn-main" href="#">More<span class="btn-main__lines1"></span><span
                        class="btn-main__lines2"></span></a></div>
        </div>
        <div class="block-info__img"><img src="{% static 'img/patent.jpg' %}" alt="">
            <div class="block-info__img__title-overlay">United States of America Patent</div>
            <div class="block-info__num">02</div>
            <div class="block-info-bg-elem2"></div>
        </div>
    </div>
</div>
<div class="history" id="section-history">
    <div class="container">
        <div class="title-section">DFX Art - <span>History</span></div>
        <div class="history__row">
            <div class="history__desc js-section-text clearfix">
                <div class="history__img"><img src="{% static 'img/founders.png' %}" alt="">
                    <div class="about-title">we love what we do</div>
                </div>
                <p>DFX Art was founded by two experienced professionals in the field of computer graphics and
                    programming – Stanislav Svarichevsky and Anton Zailinger.</p>
                <p>They first created a computer graphics and computer game programming company back in 1999. That
                    company was called ALS Group and became one of the most successful companies in the international
                    market of cg outsourcing and programming straight from the beginning. The company’s priority was the
                    development and creation of multimedia products and computer graphics for games. In our archive, one
                    can find many of our successful projects in which we participated directly and actively - such as
                    SpellForce, SpellForce II, Aquanox, Knight Shift and many more.</p>
                <p>In 2004, they began taking an interest in the gambling industry and immediately started working with
                    well-known companies such as Unicum (Russia) or Atronic International, which is part of the
                    Gauselmann Group Holding (Germany). From the very first days of our cooperation, we managed to gain
                    the trust and disposition of our new partners, all due to a non-standard approach to fulfilling the
                    task, aimed at the best achievable result. Through intense communication and the study of the
                    production processes directly at the production facilities of our partners as well as the study of
                    their experience and preferences, we not only learned to understand their needs but also their
                    individuality. Because of that and unlike other studios, we were able to find a way to achieve a
                    result above average, whilst keeping our partners’ originality and without restricting them in their
                    wishes. This is proven true by the success of most of our products on the market as well as by
                    numerous awards, which our products have won and are still continuing to win.</p>
                <p>From 2005 on, we started working with the company, Novomatic.</p>
                <p class="hide hide-xl"> This cooperation quickly developed into a close friendship, which led to
                    Novomatic offering us to become a part of their big and highly professional family in 2006. Until
                    2012, we successfully continued to lead the company, ALS Group, increasing our production capacity
                    and quality. However, our entrepreneurial spirit didn’t allow us to stop then and there but rather
                    pushed us to look for new possibilities, new achievements. We were getting bored in the safe and
                    comfortable haven and more and more dreamed of our previous, independent adventures in the stormy
                    and unpredictable sea of entrepreneurship. We therefore decided to leave our beloved haven known as
                    Novomatic in 2012 and, using the priceless experience we had gained while working with them, rushed
                    into a new adventure. Till this day, we are connected by a friendship with the company and are
                    grateful for the warm welcome, the support and, first and foremost, for the priceless experience
                    Novomatic gave us. We are thankful for all the people who wholeheartedly took part in our teamwork
                    and let us learn from them, gain experience and raise our level of professionalism. Those people are
                    primarily President Johan Graf, Thomas Graf, Dir. Presch, Mrs. Neiss, Bartholomäus Czapkiewicz and
                    many, many more. Please accept our sincere gratitude. We would like to thank Mr. Jenns Halle in
                    particular, whose invaluable support, unimpeachable mutual understanding as well as friendship have
                    accompanied us from the very beginning and who passed away too early.</p>
                <p class="hide hide-xl">Once we set sail, our experience and professionalism were highly appreciated by
                    other sailors of the sea, in particular by the company “IGT”. We had already worked with its
                    Austrian office at the dawn of our voyage – starting in 2004 – and have a close yet highly
                    professional relationship with its wonderful and talented people. Working on their projects is
                    always an incredibly exciting and interesting undertaking, which allows us to reveal our full
                    potential and at the same time to continuously improve.</p>
                <p class="hide hide-xl">For some time, we weren’t seeking a full sail, didn’t try to storm too many new
                    bastions. We needed some time to assess the sea and also wanted to spend more time with our
                    families. (We had to raise our children so that they could take over one day. After all, someone has
                    to take our places on the captain’s bridge of our company after we decide to anchor in the quiet
                    harbour known as “retirement”. Even if that anchor seems far, far away at the moment. ) But our
                    children grew up and some of them started mastering our craft. And that means that we finally can
                    command the crew: “Raise all sails! Full speed ahead!”.</p>
                <p class="hide hide-xl">As of today, our experience in the field of gambling game production is
                    unrivalled, our potential undeniable. This applies to both land based slot machines as well as
                    online casino games (iGaming). The experience and knowhow accumulated over the years and in the
                    course of many projects enable us to meet high-quality requirements and solve tasks of any
                    difficulty. Even if it requires learning “on the fly”. </p>
                <p class="hide hide-xl">We have developed a very flexible way of working with our clients. For each, we
                    provide a customised team, depending on their needs and preferences. </p>
                <p class="hide hide-xl">The system we have introduced to our company in order to quickly recruit skilled
                    professionals has proven itself incredibly effective, enabling us to increase our production
                    capacity within a very short time if needed in order to meet all requirements. Because of that, our
                    productive capacities are located where the greatest potential of first-class specialists lies -
                    both artists and programmers. One of the main centres is, without doubt, Saint Petersburg, Russia.
                    It has more than 7 different universities preparing graphic specialists and many universities
                    preparing programmers, and they are famous all over the world.</p>
                <p class="hide hide-xl">Practice has shown that the simplest and most convenient way to start
                    cooperation with a new partner is to do of a pilot project. This usually is one small game. We can
                    offer both – games for Slot machines as well as online games (iGaming). Many clients like to combine
                    both, meaning that we first develop a game for the slot machine and adapt it for the online version
                    later. It is also possible to start working solely with the graphics and to move onto complete
                    projects later, once you have got to know us better. This approach is also quite popular and proves
                    itself as it gives you the opportunity to get to know us without having to take any risks. </p>
                <a class="link-more hide-768 js-more">More</a>
                <div class="visible-768">
                    <a class="link-def js-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
