[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
Django = ">=3.0,<3.1"
wagtail = ">=2.9,<2.10"
wagtailmenus = "*"
django-cookie-consent = "*"
django-cookie-law = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
