{% load static wagtailcore_tags wagtailimages_tags  %}

<div class="section-incredible"  {% if self.anchor %} id="{{ self.anchor }}" {% endif %}>
    <div class="section-incredible__top">
        <div class="container">
            <!-- <div class="title-section">Incredible <span>COMPUTER GRAPHICS</span></div> -->
            <div class="title-section">{{self.title|safe}}</div>
        </div>
    </div>
    <div class="about-items-wrapper hide-992">
        {% for item in self.items %}
            <div class="about-item about-item_mod-size">
                <div class="about-item__main">
                    <div class="container">
                        <div class="about-item__block {% if item.side %} about-item__block_align-right {% endif %}">
                            <div class="about-item__block__inner">
                                <div class="about-item__block__top">
                                    {% comment %} <div class="about-item__title1" id="section2d">2D <span>Graphics</span></div> {% endcomment %}
                                    {% if item.title %}
                                        <div class="about-item__title1" {% if item.anchor %} id="{{ item.anchor }}" {% endif %}>
                                            {{item.title|safe}}
                                        </div>
                                    {% endif %}
                                    {% if item.sub_title %}
                                        {% comment %} <div class="about-item__title2">Concepts <span>&amp;</span> Layout Design / Sketches
                                        <span>&amp;</span> Drawing</div> {% endcomment %}
                                        <div class="about-item__title2">{{item.sub_title|safe}}</div>
                                    {% endif %}
                                    
                                </div>
                                {{item.text}}
                                <span class="showless">Show less</span>
                            </div>
                            <div class="bg-elem2"></div>
                        </div>
                    </div>
                </div>
                <div class="img-bg">
                    {% image item.image_background original as tmp_photo %}
                    <div class="img-bg__col img-bg__col_img-main"><img src="{{tmp_photo.url}}" alt=""></div>
                    <div class="img-bg__col"></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="about-slider">
        <div class="js-about-items css-about-items owl-carousel">
            {% for item in self.items %}
                <div class="about-item about-item_mod-size">
                    <div class="about-item__main">
                        <div class="container">
                            <div class="about-item__block {% if item.side %} about-item__block_align-right {% endif %}">
                                <div class="about-item__block__inner">
                                    <div class="about-item__block__top">
                                        {% if item.title %}
                                            {% comment %} <div class="about-item__title1">2D <span>Graphics</span></div> {% endcomment %}
                                            <div class="about-item__title1"> {{item.subtitle}} {{item.title|safe}}</div>
                                        {% endif %}
                                        {% if item.sub_title %}
                                            {% comment %} <div class="about-item__title2">Concepts <span>&amp;</span> Layout Design / Sketches
                                                <span>&amp;</span> Drawing</div> {% endcomment %}
                                            <div class="about-item__title2">{{item.sub_title|safe}}</div>
                                        {% endif %}
                                    </div>
                                    {{item.text}}
                                </div>
                                <div class="bg-elem2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="js-about-bg css-about-bg owl-carousel">
            {% for item in self.items %}
                {% image item.image_background original as tmp_photo %}
                <div class="img-bg">
                    <div class="img-bg__col img-bg__col_img-main"><img src="{{tmp_photo.url}}" alt=""></div>
                    <div class="img-bg__col"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>