{% load static wagtailcore_tags  %}

<div class="history" id="section-history">
    <div class="container">
        <!-- <div class="title-section">DFX Art - <span>History</span></div> -->
        <div class="title-section">{{self.title}}</div>
        <div class="history__row">
            <div class="history__desc js-section-text clearfix">
                <div class="history__img"><img src="{% static 'img/founders.png' %}" alt="">
                    <div class="about-title">we love what we do</div>
                </div>
                {{self.content|richtext}}
                <a class="link-more hide-768 js-more">More</a>
                <div class="visible-768">
                    <a class="link-def js-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>