{% load static wagtailcore_tags  %}

<div class="main">
    <div class="container">
        <div class="main__inner">
            <!-- <div class="main__title">Art <span class="color-green">and Graphics</span><span class="main__title__spec">Development</span></div> -->
            <div class="main__title">{{ self.title|safe }}</div>
            <div class="main__text">{{ self.text }}</div>
            <div class="main__scroll">Scroll
                <div class="main__scroll__elem"></div>
            </div>
        </div>
    </div>
    <div class="main__back">
        <video controlsList="nodownload" loop class="" loop autoplay src="{{ self.background.url }}" muted id="main_video_bg">
        </video>
        <div class="main__bg-img"><img src="{% static 'img/bg-main.jpg' %}" alt=""></div>
        <div class="main__bg-text"><img src="{% static 'img/text-bg.png' %}" alt=""></div>
        <div class="main__bg-grid"><img src="{% static 'img/grid-bg.png' %}" alt=""></div>
        <div class="main__bg-shadow"></div>
        <div class="main__bg-shadow2"></div>
    </div>
</div>
