{% load static wagtailcore_tags wagtailimages_tags %}

<div class="section-projects">
    <div class="container">
        <div class="title-section">last <span>projects</span></div>
    </div>
    <div class="projects owl-carousel">
        {% for item in self.content %}
            <div class="projects__item">
                <div>
                    {% image item.projectpage.cover fill-300x500 as tmp_photo%}
                    <img src="{{tmp_photo.url}}" alt="">
                    <div class="project__item_detail">
                        <div class="project__item_title">{{item.title}}</div>
                        <a class="btn btn-main" href="#">More detail<span class="btn-main__lines1"></span><span
                                class="btn-main__lines2"></span></a>
                    </div>
                    <!-- <video class="b-lazy slider-video" id="video2" width="100%" height="100%" preload="auto" loop="loop" data-src="{% static 'video/CoinOManiaDemoVideo2v.mp4' %}" poster="img/pirate-poster.png" autoplay muted data-object-fit="cover">
                            
                        </video> -->
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-main" href="/portfolio">all projects<span class="btn-main__lines1"></span><span
            class="btn-main__lines2"></span></a>
</div>