@font-face {
    font-family: 'Helvetica World';
    src: url("../../fonts/HelveticaWorld-Regular.eot");
    src: local("Helvetica World"), local("HelveticaWorld-Regular"), url("../../fonts/HelveticaWorld-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaWorld-Regular.woff2") format("woff2"), url("../../fonts/HelveticaWorld-Regular.woff") format("woff"), url("../../fonts/HelveticaWorld-Regular.ttf") format("truetype"), url("../../fonts/HelveticaWorld-Regular.svg#HelveticaWorld-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
  }