{% load static %}

<div class="projects__item">
    <div>
        <img src="{% static 'img/project-1.png' %}" alt="">
        <div class="project__item_detail">
            <div class="project__item_title">wizard gold</div>
            <a class="btn btn-main" data-fancybox="gallery-image" href="#image1">More detail<span class="btn-main__lines1"></span><span
                    class="btn-main__lines2"></span></a>
            <img id="image1" src="{% static 'img/img-bg-4-1.jpg' %}" alt="">
        </div>
    </div>
</div>