{% load wagtailcore_tags %}

<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer-logo">DFX <span>Art</span>.com</div>
            <ul class="menu menu_footer js-window" id="menu-footer">
                <li><a class="link-anchor" href="#section-experience">Our experience</a></li>
                <li><a class="link-anchor" href="#section-incredible">Computer Graphics</a></li>
                <li><a class="link-anchor" href="#section-programming">Programming</a></li>
                <li><a class="link-anchor" href="/portfolio">Portfolio</a></li>
                <li><a class="link-anchor" href="#section-awards">Awards</a></li>
                <li><a class="link-anchor" href="#section-patents">Patents</a></li>
                <li><a class="link-anchor" href="#section-history">History</a></li>
                <li><a class="link-anchor" href="#footer">Contact</a></li>
            </ul><a class="btn btn-mob-menu js-btn-window" href="#menu-footer"><span></span></a>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom__col footer-locations">
                {% with settings.common.ContactsSettings.contacts as contacts %}
                    {% for c in contacts %}
                        <div class="footer-locations__block">
                            {{c}}
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="copyright">© {% now 'Y' %}. All rights reserved</div>
            <div class="footer__bottom__col footer-contacts-wrapper">
                <div class="footer-contact">
                    <a class="link-mail" href="mailto:{{settings.common.ContactsSettings.email}}">
                        <span class="link-mail__icon hide-768"><img src="img/mail.png" alt=""></span>{{settings.common.ContactsSettings.email}}
                    </a>
                </div>
                <!-- <div class="footer-social-text">
                    LinkedIn/Telegram
                </div>
                <div class="footer-phone">
                    <a href="tel:+37282299023">+372 8229 9023</a>
                </div> -->
                <!-- <div class="footer-social">
                    <a href="#"><img src="img/social-linkedin.png" alt=""></a>
                    <a href="#"><img src="img/social-telegram.png" alt=""></a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="privacy_box">
        <p>
            This site uses cookies, pixels, and other similar technologies, as well as social plugins, as further described in our privacy statement. If you continue to browse our site, you are accepting our use of these tools. You can modify your browser settings so as not to accept cookies.
            <a href="{% slugurl 'cookie-policy' %}">Read our privacy statement</a>
            
        </p>
        <div class="accept_button">
            Ok, got it!
        </div>
    </div>
</footer>